.toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
}

.toolbar select, 
.toolbar button {
  margin: 10px;
}

.toolbar h2 {
  margin: 20px 0;
}